:root {
  --primary-bg: #09090b;
  --secondary-bg: #141319;
  --tertiary-bg: #17171c;
  --text-color: #fff;
}

.light-mode {
  --primary-bg: #ffffff;
  --secondary-bg: #f4f4f4;
  --tertiary-bg: #e9e9e9;
  --text-color: #000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.icon {
  padding: 15px;
  font-size: 20px;
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  cursor: pointer;
}
